# Bypass globally all this extensions
**/*.md
**/*.min.js
**/*.min.css
**/*.ice
**/*.json
**/*.jsonc
**/*.txt
**/*.svg
**/*.yml

# Bypass globally all this folders and its contents
**/vendor/
**/fonts/
**/node_modules/

# Bypass specific files and folders
package-lock.json
